@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,select{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,microsoft yahei,arial,\5b8b\4f53; color:#666;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color:#333;}
a:hover{color:#117fce;outline:none;hide-focus:expression(this.hideFocus=true);}
sup{vertical-align:text-top; vertical-align:super}sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.clear_float:after{display:block;visibility:hidden;height:0;clear:both;content:"";}.clear_float{display:inline-block;}/*asdfasdf\*/ * html .clear_float{zoom:1;}.clear_float{display:block;}
.center{ text-align:center; margin:18px 0; display:block;}

body{ background:#efefef url(../img/topbar.png) repeat-x;}
.w940{ width:940px; margin:0 auto;}
.footer{ background:#1f9443; height:75px; line-height:75px; text-align:center; color:#fff;}

/*header*/
.topmain{ display:block; padding:45px 0 20px 0; height:55px;}
.topmain .logo{ width:171px; height:20px; margin-top:10px; background:url(../img/logo.gif) no-repeat; display:block; float:left; text-indent:-9999px;}
.topmain .r_top{ float:right; width:500px;}
.topmain .search{ display:block; width:104px; height:23px; background:url(../img/search.png) no-repeat; padding-left:52px; margin-bottom:13px; float:right; text-align:left; clear:both; position:relative;}
.topmain .search input{ width:95px; border:none; background:none; height:18px; line-height:18px; color:#c5c4c4; margin-top:3px;*margin-top:0px; font-family:Arial;}
.tipTxt{ position:absolute; left:43px; top:4px; text-indent:10px; color:#c5c4c4; z-index:0; cursor:pointer;}
.topmain .other{ width:500px; display:block; float:right; text-align:right; line-height:21px; color:#d9d9d9;}
.topmain .other a{ color:#218cc0; padding:0 8px;}
.topmain .other a:hover{ color:#000;}
.topmain .MyRunsn{ float:right; background:url(../img/icon1.png) no-repeat; width:102px; height:21px; line-height:21px; text-align:left; margin-left:10px; text-indent:12px; color:#005dac; cursor:pointer;}
.header .nav{ background:url(../img/nav.png) no-repeat; height:36px; width:940px; padding:2px 0 0 0;}
.nav li{ float:left; width:132px; margin-right:2px; text-align:center; position:relative; z-index:11; cursor:pointer;
_height:35px; _overflow:hidden; _display:inline-block; _line-height:35px; }
.nav li .menu{ display:none;}
.nav li.num1{ width:133px;}
.nav li.num7{ width:135px; margin:0;}
.nav li>a{width:130px;height:36px; line-height:36px; color:#fff;}
.nav li a{ color:#fff; display:block;}
.nav li.on,.nav li.active{ background:url(../img/nav.png) no-repeat -136px -39px; _background:none;}
.nav li:first-child.on,.nav li:first-child.active{background:url(../img/nav.png) no-repeat 0 -39px;}
.nav li:last-child.on,.nav li:last-child.active{background:url(../img/nav.png) no-repeat -268px -39px;}
.nav li.on .menu{padding-top:12px; top:25px; _top:40px; position:absolute; text-indent:12px;color:#fff; background:url(../img/nav_bg.png) no-repeat;}
.nav li.on .menu b{ height:27px; line-height:27px; font-size:13px;  display:block; text-align:left; margin:2px 0 6px 0;}
.nav li.on .menu a{ height:21px; line-height:21px; display:block;color:#ececec; margin:0 4px; text-align:left;}
.nav li.on .menu a:hover{ background:#474a50 url(../img/menu_hover.gif) repeat-x; color:#83efff;}
.nav li.on .menu .col{ width:167px;color:#83efff;text-align:left; display:block; text-indent:16px;}
.nav li.on .m1{ width:152px; height:230px;left:-10px; }
.nav li.on .m2{ background-position:-162px 0; width:436px; height:548px;left:-76px; }
.nav li.on .m3{ background-position:-611px 0; width:178px; height:498px;left:-10px; }
.nav li.on .m4{ background-position:-800px 0; width:151px; height:104px;left:-10px; }
.nav li.on .m5{ background-position:-959px 0; width:151px; height:163px;left:-10px; }
.nav li.on .m7{ background-position:-1118px 0; width:151px; height:213px;left:-10px; }
.nav li.on .m2 .r_menu{ float: right; width:258px; margin:45px 5px 0 0;}
.nav li.on .m2 .submenu{ display:none; }
.nav li.on .m2 .m2body{ width:170px; *float:left; *display:block;  }
.nav li.on .m2 a{ width:167px; margin:0; }
.nav li.on .m2 .m2body a{ margin:0 0 0 4px; width:167px;}
.nav li.on .m2 .submenu a{ width:258px;}
.homead{ height:230px; background:#d5d6d7; width:928px; margin:0 0 20px -25px; display:block;}
.ad{ background:url(../img/homead1.jpg) no-repeat; width:529px; height:176px; display:block; float:right; margin:27px 0 27px 0; font-size:14px; padding-left:280px;color:#fff;}
.ad a{color:#fff;}
.f18{ font-size:18px; display:block; margin-bottom:8px; }
.w948{ padding:0 10px; width:928px; background:url(../img/bg.gif) repeat-y; margin:0 auto;}


.slide{ width:928px; height:370px; display:block; overflow:hidden;}
.slidebox{ position:relative; width:100%; height:370px; z-index:0;}
.fouce a{ display:inline-block;width:928px; height:370px;margin:0px;position:absolute; left:0; top:0; z-index:1;}
.slidebox ul li{ float:left;display:inline-block; width:8px; height:8px;overflow:hidden; margin-right:8px; cursor:pointer; background:url(../img/slide_dian.png) no-repeat -8px 0; text-indent:-9999px;}
.slidebox ul{ position:absolute; right:10px; bottom:10px; z-index:999; zoom:1;}
.slidebox ul li.active{ background-position:0 0;}
.fouce a.last-active{ z-index:5;}
.fouce a.active{ z-index:10;}



.recent h2{ height:25px; line-height:25px; margin-bottom:15px; background:url(../img/icon2.gif) no-repeat center; display:block; font-size:10px; color:#9e9e9e; text-indent:18px;}
.recent li{ background:url(../img/icon3.gif) no-repeat; width:270px; height:182px; float:left; margin:0 12px 12px 0; padding:7px 7px 19px 7px;  overflow:hidden;}
.homeimg  li a{position:relative; width:270px; height:182px; display:block; overflow:hidden;}
.homeimg img{ display:block;}
.homeimg .hover{ opacity:0;position:absolute;}
.homeimg .n1{ left:-270px; top:0;}
.homeimg .n2{ top:182px; left:0;}
.homeimg .n3{ left:270px; top:0;}
.homeimg .n4{ left:-270px; top:0;}
.homeimg .n5{ top:-182px; left:0;}
.homeimg .n6{ left:270px; top:0;}

.q_menu{ background:#eeeeee; padding:15px; width:845px; display:block; overflow:hidden;}
.q_menu dl{ width:180px; height:138px; float:left; border-right:1px solid #dedede; padding-left:30px; line-height:21px;}
.q_menu dl.bnone{ border:none;}
.q_menu dt{ font-size:16px; color:#222; display:block; margin-bottom:5px;}
.q_menu a{ color:#656565;}
.q_menu a:hover{ color:#000;}
.p25,.p60{ padding:25px; display:block; overflow:hidden;}.recent .mr0{ margin-right:0;}
.p60{ padding:25px 60px;}

.caption{ width:815px; height:72px; background:url(../img/service_bg.gif) no-repeat; padding:20px 30px; color:#fff; line-height:21px;}
.caption2{background:url(../img/solution_bg.gif) no-repeat;}
.caption3{background:url(../img/product_bg.jpg) no-repeat;}
.caption4{background:url(../img/act_7.jpg) no-repeat;}
.caption h2{ font-size:18px; margin-bottom:5px;}
.caption3 h2{ margin-top:15px;}
.sermain{ background:url(../img/sPage1_bg.png) no-repeat 615px 10px; margin:38px 0 20px 0; display:block; overflow:hidden;}
.sermain .sRight{ width:232px; float:right;}
.sermain .sRight dl{ display:block; margin-bottom:4px;}
.sermain .sRight dt{ background:url(../img/sermain_icon1.png) no-repeat; width:232px; height:25px; line-height:25px; padding-left:20px; color:#3d8eb0; cursor:pointer;}
.sermain .sRight dt b{ color:#444; margin-right:6px;}
.sermain .sRight dd{ display:none; padding-top:3px;}
.sermain .sRight .sAd{ background:url(../img/sermain_icon2.png) no-repeat; width:219px; height:163px; padding:5px; display:block; margin:18px 0;}
.sermain .sLeft{ width:560px; padding:0 0 0 20px; float:left; line-height:23px;}
.sermain .sLeft h2{ color:#1b976f; font-size:18px; margin-bottom:10px;}
.sermain .sLeft b{ display:block; color:#333;}

.tabBox .tabs{ background: url(../img/sermain_icon3.gif) repeat-x 0 21px; display:block; height:30px; padding-left:20px; width:850px;}
.tabBox .tabs li{ background:url(../img/sermain_icon4.png) no-repeat; width:127px; float:left; margin-right:4px; text-align:center; padding-bottom:10px; line-height:23px; height:20px; display:block; overflow:hidden; color:#333; cursor:pointer;}
.tabBox .tabs li.on{ background-position:0 -30px; padding:0; height:30px; line-height:30px; color:#fff;}
.tabBox .tabmain{ padding:20px; display:none; line-height:23px; overflow:hidden;}
.tabBox .tabmain b{ color:#333;}
.probrands .tabmain{ padding:0;}
.probrands h2{ background:url(../img/pro_icon1.gif) no-repeat; width:875px; height:34px; text-indent:12px; font-size:14px; line-height:34px; position:relative; top:1px; }
.probrands h2 a{ float:right; margin-right:10px; line-height:34px; font-size:12px; font-weight:normal;}
.probrands td{border-collapse:collapse; border:1px solid #bdbdbd;}
.probrands table{ width:875px;}
.probrands .pp{ line-height:18px; padding:10px 14px; display:block; overflow:hidden; color:#888;}
.probrands .pp img{ float:left; margin-right:12px;}
.probrands .pp  b{ display:block; margin-bottom:3px; color:#333;}
.probrands{margin:20px 0; display:block;}
.sermain .sLeft .tabBox .tabs{ width:560px; padding:0;}
.sermain .sLeft .tabBox .tabs li{ background-position:0 -60px; width:60px; margin-right:6px;}
.sermain .sLeft .tabBox .tabs li.on{ background-position:0 -90px}
.sermain .sLeft .tabmain{ padding:20px 0;line-height:20px; }
.sermain .sLeft .tabmain .info{ display:block; overflow:hidden;}
.sermain .sLeft .tabmain .img{ float:left; line-height:18px; border:3px solid #d8d5d5; margin-right:15px;}
.sermain .sLeft .tabmain h3{ height:25px; margin:10px 0; color:#2b98ce;}
.probrands ul{ text-align:center; display:block; margin:18px 0; *margin:18px 0 18px 425px; overflow:hidden;}
.probrands li{ width:10px; height:10px; background:url(../img/pro_dian.png) no-repeat 0 -10px; display:inline-block; *float:left; *margin-right:5px; text-align:center; text-indent:-9999px; cursor:pointer;}
.probrands li.on{ background-position:0 0;}

.solmain,.commain,.tramain2{background:url(../img/sPage2_bg.png) no-repeat 680px 10px; margin:38px 0 20px 0; display:block; overflow:hidden;}
.solmain .sRight{ float: right; width:645px; display:block;}
.solmain .sLeft{ float:left; width:200px; margin:-25px 30px 0 0; line-height:25px; color:#222; }
.solmain .sLeft h3{line-height:25px;border-bottom:1px solid #aaa; color:#004ca4; margin-top:20px; font-size:14px;}
.solmain .sLeft dt{border-bottom:1px solid #bfbfbf; cursor:pointer;}
.solmain .sLeft dd{ display:none; border-bottom:1px solid #bfbfbf;}
.solmain .sLeft dd a{ display:block; color:#888; line-height:20px;}
.solmain .sLeft dd a:hover{ color:#117fce; text-decoration:underline;}
.solmain .sLeft dl.on dd{ display:block;}
.solmain .sLeft dl.on dt{ font-weight:bold;}

.solmain .sRight .rightbox{ float:right; width:155px; margin-right:4px; display:block; overflow:hidden;}
.solmain .sRight .r_menu li{ width:135px; height:25px; margin-bottom:4px; background:url(../img/solution_icon1.png) no-repeat;line-height:25px; padding-left:20px; color:#3d8eb0; cursor:pointer;}
.solmain .sRight .rightbox .solAd{ margin:20px 0;}
.solmain .sRight .r_main{ width:420px; line-height:21px;}
.solmain .sRight h2{ font-size:18px; color:#0ba29a; height:25px; line-height:25px; margin:18px 0;}
.f16{ font-size:16px; display:block;}
.aboutinfo{ background:url(../img/solution_icon3.png) no-repeat; width:374px; height:88px; padding:10px 20px; display:block; overflow:hidden; margin:25px 0;}
.aboutinfo h3{ color:#333; display:block;}
.aboutinfo li{ width:180px; margin-right:5px; height:22px; line-height:22px; float:left;}
.aboutinfo li a{ color:#006ac0;}.aboutinfo li a:hover{ color:#000; text-decoration:underline;}
.solmain .tabBox .tabs{ padding-left:0; width:645px;}

.promain .prolist { display:block; overflow:hidden; margin:20px 0 0 0;}
.promain .prolist li{ float:left; width:272px; display:block; overflow:hidden; margin:20px 29px 0px 0;}
.promain .prolist li.mr0{ margin-right:0;}
.promain .prolist li h2{ color:#333; font-size:18px; list-style:18px; display:block; margin-bottom:8px;}
.promain .prolist li h2 span{ display:block; color:#888; font-size:12px; font-family:Arial; margin-top:-2px; font-weight:normal;}

.proPage{background:url(../img/sPage3_bg.png) no-repeat 608px 0px;}
.proPage .sLeft{ width:580px; padding:0;}
.proPage .sRight{ margin-right:8px;}
.proPage .txtlist .main{ padding:30px; border:1px solid #BDBDBD; display:block; overflow:hidden;}
.proPage .txtlist .main .m_l{ float:left; margin-right:28px; width:245px; margin-top:-40px;}
.proPage .txtlist .main .m_r{ float:left; width:245px;margin-top:-40px;}
.proPage .txtlist h3{ background:url(../img/pro_icon2.gif) no-repeat; width:580px; height:34px; line-height:34px; display:block; text-indent:12px; font-size:14px; position:relative; top:2px;}
.proPage .txtlist .main a{ display:block; height:28px; line-height:28px;border-bottom:1px solid #BDBDBD; color:#28a7e1;}
.proPage .txtlist .main b{ display:block; font-size:14px; margin:30px 0 0 0;border-bottom:1px solid #BDBDBD;}
.proPage .txtlist .main a:hover,.proPage .more:hover{ color:#000;}
.proPage .txtlist .main b span{ display:block; font-size:12px; font-weight:normal; margin-top:-3px;}

.proPage .center{ padding:0 40px;}

.proPage  .mbox{ height:285px; display:block; overflow:hidden;}
.proPage  .hauto{ height:auto;}
.proPage .more,.proPage .more_on{ display:block; background: url(../img/pro_icon4.png) no-repeat 0 3px; width:50px; text-align:right; height:18px; float:right;color:#28a7e1; cursor:pointer;}
.proPage .more_on{ background-position:0 -18px; width:18px; text-indent:9999px; margin-top:10px;}
.proPage .tl2 a{ background:url(../img/pro_icon3.png) no-repeat right center;}
.proPage .tl2 h3 a{ background:none;}
.proPage1 .sLeft .promenu{ }
.proPage1 .sLeft .promenu .prolink{ display:block;border-bottom:1px solid #bfbfbf; cursor:pointer; height:25px; line-height:25px;position:relative;}
.proPage1 .sLeft .promenu .z9{ z-index:9;}
.proPage1 .sLeft .promenu .prolink:hover{color:#28a7e1;}
.proPage1 .sLeft .promenu span.protip{ position:absolute; left:120px; top:0px; background:url(../img/pro_icon8.png) no-repeat; width:239px; padding:12px 0; display:none;}
.proPage1 .sLeft .promenu span.protip a{ display:block; height:25px; line-height:25px; text-indent:23px; color:#fff;}
.proPage1 .sLeft .promenu span.protip a:hover{color:#117fce; background:url(../img/pro_icon9.png) repeat-x left bottom;}
.proPage1 .sLeft .promenu span.protip .bj{ width:241px; position:absolute; left:0; bottom:0; height:9px; background:url(../img/pro_icon8.png) no-repeat -239px 0; display:block; overflow:hidden;}
.proPage1 .sLeft{ width:150px;}
.proPage1 .sRight{ width:695px;}
.proPage1 .sRight .r_main{ width:470px;}

.prom { line-height:21px; display:block; margin-top:25px;}
.prom .floatimg{ float:left; margin:0 20px 10px 0;}
.prom .col{ font-size:14px; color:#1f9443;}
.lh19 .tabmain{ line-height:19px; margin-bottom:35px;}
.tableinfo table{width:740px; margin:25px auto;}
.tableinfo td{border-collapse:collapse; border:1px solid #bdbdbd; padding:10px 18px; }
.tableinfo td.bg{ background:#8ebb4e; color:#fff; padding:10px;}

.c_ad{ display:block;}
.c_txt{ font-size:14px; display:block; padding-bottom:20px; border-bottom:1px solid #bdbdbd;}
.c_txt h2{ font-size:24px;}
.c_txt a{ background:url(../img/com_icon1.gif) no-repeat 60px center;color:#117fce; padding-right:20px;}
.c_txt a:hover{ text-decoration:underline;}

.c_txt2{ display:block; margin:25px 0; width:808px; height:160px; }
.c_txt2 p{ width:210px; height:160px; padding:0 40px 0 0; margin-right:40px; float:left; border-right:1px solid #bdbdbd;}
.c_txt2 p.bnone{ border:0;margin-right:0; padding-right:0;}
.c_txt2 b{ font-size:24px; display:block; }
.c_txt2 p span{line-height:21px; display:block; height:95px; padding-top:10px;}
.c_txt2 p a{ width:69px; height:20px; line-height:18px; background:url(../img/c_icon2.png) no-repeat; text-indent:10px; display:block; color:#fff;}
.c_txt2 p a:hover{ background-position:0 -20px;}
.c_txt3{ display:block; padding:20px 0;width:808px;}
.c_txt3 p{ width:385px; float:left; margin-right:35px;}
.c_txt3 p.mr0{ margin:0;}
.c_txt3 p .img{ background:url(../img/c_icon3.png) no-repeat; padding:4px 4px 22px 4px; display:block; margin-bottom:14px; text-indent:5px;}

.commain{ background-position:615px 10px;}
.compre{ background:url(../img/c_pre3.jpg) no-repeat;}
.compre2{ background:url(../img/c_pre5.jpg) no-repeat;}
.compre3{ background:url(../img/c_pre8.jpg) no-repeat;}
.compre4{ background:url(../img/c_pre9.jpg) no-repeat;}
.compre5{ background:url(../img/c_pre10.jpg) no-repeat;}
.compre6{ background:url(../img/c_pre11.jpg) no-repeat;}
.commain  h1,.join h1{ font-size:24px; margin-bottom:20px;}
.commain  h3{ font-size:18px;margin-bottom:18px;}
.commain .col,.commain .sLeft b.col{ color:#41aee3;}
.commain .f16,.commain .sLeft b.f16{ font-size:16px;}
.commain .sLeft .imgbg{ background:url(../img/c_pre7.png) no-repeat; width:489px; height:363px; padding:20px; margin:20px 0; line-height:20px;}
.commain .sLeft .col2{ color:#1f9443;}
.commain .sLeft .f18{ font-size:18px;}

.comPage{ background:none;}
.commain .customer .list{ float:left; width:267px; background:url(../img/sPage4_bg.png) no-repeat right top; line-height:18px; padding-left:25px;}
.commain .customer .list b{ display:block; margin:10px 0; color:#efefef;}
.commain .customer .list b .col{font-size:15px; color:#1f9443; margin-right:10px; }
.commain .sRight .tip1{ background:url(../img/c_pre5.png) no-repeat; width:192px; height:50px; padding:15px 20px; font-size:16px; color:#fff;}
.commain .sRight .tip2{ background:url(../img/c_pre6.png) no-repeat; width:192px; height:90px; padding:15px 20px; font-size:16px; color:#525252;}
.commain .sRight .tip3{ background:#f0f0f0; padding:12px;border-radius:8px; border:1px solid #ecebeb;  }
.commain .sRight .tip3 span{ display:block; margin-bottom:10px; border-bottom:1px solid #d1d1d1; padding-bottom:10px;}
.commain .customer .backnone{ background:none;}
.commain .sLeft{ line-height:20px;}

.join{ display:block; margin:20px 0; padding:0 20px;}
.join .txt b{ font-size:15px; display:block;}
.join h3{ display:block; font-size:18px; margin:20px 0 10px 0;}
.join .jobs{ width:400px; margin-right:30px; float:left; height:200px; display:block; margin-bottom:18px;}
.join .job_contact{ float:left;display:block; margin-bottom:18px; }
.join .job_contact .main{background:#2859bb; padding:15px 30px; font-size:14px; color:#fff;width:335px;}
.join .job_contact .ml64{ margin-left:68px;}
.join .jobs a{ width:175px; background:url(../img/c_icon4.png) no-repeat; height:23px; line-height:23px; margin:0 20px 4px 0; text-indent:15px; float:left; display:block;}
.join .jobs a.long{ background:url(../img/c_icon5.png) no-repeat; width:371px;}
.jobmain{border:1px solid #bdbdbd;border-radius:8px; display:block; overflow:hidden; }
.jobmain .j_l{ float:left; width:205px; border-right:1px solid #bdbdbd;}
.jobmain .j_l h2{ height:29px; line-height:29px; display:block; text-indent:38px; font-size:16px; background:url(../img/c_icon6.gif) repeat-x;}
.jobmain .j_l a{ height:44px; line-height:44px; display:block; border-top:1px solid #bdbdbd;text-indent:38px;}
.jobmain .j_l a.on{ color:#fff; background:url(../img/c_icon7.gif) repeat-x;}
.jobmain .j_r{ padding:40px; float:left; width:550px; line-height:21px;}
.jobmain .j_r .line{ border-top:1px solid #bdbdbd; padding-top:30px; margin-top:30px;}

.add{ border:1px solid #bdbdbd; display:block; margin-bottom:18px;background: url(../img/c_icon8.gif) repeat-x;border-radius:5px; }
.add h2{  height:32px; line-height:32px; display:block;border-bottom:1px solid #bdbdbd; background:url(../img/c_icon9.gif) no-repeat; text-indent:60px; display:block; overflow:hidden;}
.add p{ padding:20px 30px 20px 60px; line-height:25px;}
.color{background: url(../img/c_icon11.gif) repeat-x;}
.color h2{background:url(../img/c_icon10.gif) no-repeat; color:#fff; height:31px;}

.error{ width:762px; height:392px; margin:0px auto; padding:60px 0; background:url(../img/error.jpg) no-repeat 0 60px; display:block; overflow:hidden; position:relative;}
.error a{ width:105px; height:38px; display:block; left:355px; top:411px; position:absolute; text-indent:-9999px;}
.build{ width:810px; height:384px; margin:0px auto; padding:30px 0; background:url(../img/building.jpg) no-repeat 0 30px; position:relative;}
.build a{width:105px; height:38px; display:block; left:355px; top:371px; position:absolute; text-indent:-9999px;}
.build .bd{ width:400px; height:40px; position: absolute; left:422px; top:220px;}
.build .inputText{ width:330px; height:35px; line-height:35px; margin:3px 0 0 0; background:none; text-indent:12px; border:0; float:left; color:#fff;}
.build .tipTxt{ position:absolute; left:8px; top:0; color:#fff; height:35px; line-height:35px; margin-top:2px; font-size:14px;}
.build .btn{ width:37px; height:39px; line-height:39px;float:left; cursor:pointer; background:none; border:none;}

.a_txt{ line-height:25px; display:block; margin:30px 0; font-size:14px;}
.actmain h2{ font-size:24px; text-align:center; display:block; margin:40px 0;}
.actmain .a_img{ display:block; overflow:hidden;}
.actmain .a_img li{ width:233px; margin-right:28px; background:url(../img/act_1.gif) no-repeat right top; float:left; padding-right:25px; line-height:25px; text-align:center;}
.actmain .a_img li.mr0{ margin-right:0; padding:0; background:none;}
.actmain .a_img2{ display:block; margin-top:45px; padding-top:45px; border-top:1px solid #dbdbdb;}
.actmain .a_img2 p{ width:390px; float:left; margin-right:28px;text-align:center;}
.actmain .a_img2 p.mr0{ margin:0;}
.actmain .a_img2 p span,.actmain2 .imglist p span{ font-size:16px; background:url(../img/act_2.gif) no-repeat right center; height:25px; line-height:25px; margin:15px 0; padding-right:18px; display:inline-block; }



.actmain2 .a_txt4{ line-height:25px; text-align:center; font-size:14px; display:block; margin:38px 0;}
.actmain2 .a_txt4 h1{ font-size:24px; display:block; margin-bottom:8px;}
.actmain2 .tip4{ background:url(../img/act_8.jpg) no-repeat; width:227px; height:331px; display:block; margin-top:30px; line-height:24px; text-indent:18px;}
.actmain2 .tip4 h3{ font-size:18px; color:#0087cf; margin-top:25px;}
.actmain2 .tip4 a{ height:180px; width:227px; display:block; margin-top:15px;}
.actmain2 .tip5{ background:url(../img/act_9.jpg) no-repeat;}
.actmain2{ background:url(../img/sPage2_bg.png) no-repeat 608px 0;}
.actmain2 .imglist li{ height:210px; display:block; background:url(../img/act_line.png) no-repeat center bottom; padding:0 0 40px 0; margin:0 0 40px 0; }
.actmain2 .imglist li.backnone{ background:none; margin-bottom:0;}
.actmain2 .imglist p{ width:264px; float:left; margin-left:20px; text-align:center;}
.actmain2 .imglist p span{ font-size:12px;}
.actmain3 .center{ padding:30px 0;}

.newlist{background:#f0f0f0; padding:12px;border-radius:8px; border:1px solid #e3e3e3; display:block; margin:20px 0;  }
.newlist h2{ font-size:14px; height:30px; line-height:30px; border-bottom:1px solid #e3e3e3; margin-bottom:10px;}
.newlist li{ line-height:25px;}
.newlist .more{ display:block; text-align:right; margin:10px 0; color:#3D8EB0;}
.newlist .more:hover{ color:#000;}

.tramain .t_box1{}
.tramain{ margin-top:18px;}
.tramain .sLeft h4{ border-bottom:1px solid #bfbfbf; height:20px; line-height:20px; display:block; margin:18px 0 10px 0;background: url(../img/sermain_icon4.png) no-repeat 12px 0; text-indent:48px;}

.sly {height:86px; width:467px;overflow:hidden;}
.sly ul {height:100%;}
.sly ul li {float:left;width:117px;height:89px;}
.imgslide{ position:relative; padding:18px 0 0 47px;background:url(../img/tra_2.png) no-repeat 40px 13px;height:96px; width:507px;}
.imgslide .prev{ width:39px; height:40px; background:url(../img/tra_1.png) no-repeat; display:block; overflow:hidden; position:absolute; left:-5px; top:48px; cursor:pointer;}
.imgslide .next{ width:39px; height:40px; background:url(../img/tra_1.png) no-repeat 0 -40px; display:block; overflow:hidden; position:absolute; right:-5px; top:48px; cursor:pointer;}

.star{ display:block; overflow:hidden;}
.star h3{ height:35px; line-height:35px; border-bottom:1px solid #bfbfbf; font-size:18px; color:#1b976f;}
.star .s_main{ background:url(../img/tra_3.png) no-repeat; width:837px; height:198px; display:block; margin:18px 25px;position:relative; overflow:hidden;}

.huoban{ display:block; margin:25px 0;}
.huoban li{ width:90px; height:86px; float:left; background:url(../img/tra_5.png) no-repeat center bottom; padding-bottom:21px; margin:0 50px 30px 0;}
.sermain .sLeft .newpage h2{ font-size:24px; display:block; margin:20px 0;}
.tramain2{ background-position:610px 10px;}
.baoming{ background:#fff url(../img/tra_baoming.jpg) no-repeat center top; height:580px; padding:50px;}
.baoming .bd{ float:left; width:315px; margin-right:60px;}
.baoming .bd h2{ color:#171c61; font-size:24px; margin-bottom:18px;}
.baoming .bd p{ margin-bottom:10px; line-height:20px; padding-left:75px; font-size:14px; }
.baoming .bd p span{ float:left; margin-left:-75px;}
.baoming .bd p input,.baoming .bd p .w230{ width:230px; height:18px; line-height:18px; border:1px solid #b7b7b7; background:#d3d3d3 url(../img/tra_icon.png) repeat-x;border-radius:3px; }
.baoming .bd p .w230{ width:230px; height:75px;}
.baoming .bd .btn{ background:url(../img/tra_btn.png) no-repeat; width:106px; height:42px; display:block; border:0; text-indent:-9999px; cursor:pointer; margin-top:18px; display:block;}
.baoming .tips{ background:url(../img/tra_baoming.png) no-repeat; width:407px; height:276px; display:block; float:left; padding:20px; line-height:24px; font-size:13px;}
.bd_succeed,.bd_fail{ background:url(../img/tra_bd1.png) no-repeat center top; padding-top:325px; text-align:center; line-height:25px;}
.bd_succeed h2,.bd_fail h2{ font-size:24px; margin:10px 0; color:#1f9443;}
.bd_succeed a,.bd_fail a{ font-size:14px; margin:0 10px; color:#218CC0;}
.bd_succeed a:hover,.bd_fail a:hover{ color:#000;}
.bd_fail{ background:url(../img/tra_bd2.png) no-repeat 220px top;}
.bd_fail h2{ color:#be003e;}

.zizhi li{ width:140px; height:310px; margin:0 20px 30px 20px; float:left; position:relative;}
.zizhi li a,.zizhi2 li a{ background:url(../img/fd.png) no-repeat; width:27px; height:27px; position:absolute; left:0; top:0; cursor:pointer;}
.zizhi .bg{ background:#ffd200; padding:15px 0 15px 18px; line-height:18px; color:#333;}

.zizhi .bg b{ display:block; margin-bottom:4px;}
.zizhi .bg2{ background:#0a4db6; color:#fff;}
.zizhi .bg2 b{color:#fff;}
.zizhi2{ padding:0 0 0 30px;}
.zizhi2 li{position:relative; width:164px; display:block; margin-bottom:20px;}
.zizhi2 li p{ position:absolute; left:0; bottom:0; padding:8px 15px; background:#000; opacity:0.75; display:block; color:#fff;}

.fenye{ display:block; margin:20px 0; overflow:hidden; text-align:center; *text-align:left; *padding-left:210px;}
.fenye a{ display:inline-block; width:10px; height:10px;overflow:hidden; margin-right:8px; cursor:pointer; background:url(../img/act_dian.png) no-repeat -10px 0; text-indent:-9999px; *float:left;*position:relative; *top:6px;}
.fenye a.on{ background-position:0 0;}
.fenye a.next{ width:auto; height:auto; text-indent:0; background:none; display:inline;}

.floatbox{ background: url(../img/floatbox.png) no-repeat; width:47px; height:155px;position:absolute; bottom:90px; position:fixed; display:none;}
.floatbox span{ display:block; margin:25px 0 0 8px;}
.floatbox a{ text-indent:-9999px;display:block; overflow:hidden; margin-bottom:30px;}
.floatbox .n1{ background:url(../img/floatbox_1.png) no-repeat; width:25px; height:16px; }
.floatbox a.n1:hover{ background-position:0 -17px;}
.floatbox .n2{ background:url(../img/floatbox_2.png) no-repeat; width:23px; height:15px; }
.floatbox a.n2:hover{ background-position:0 -15px;}
.floatbox .n3{ background:url(../img/floatbox_3.png) no-repeat 0 -18px; width:24px; height:18px; }
.floatbox a.n3:hover{ background-position:0 0;}
html{ _background: url(about:_blank) fixed; }

.nav li>a,.tabBox .tabs li{text-shadow:0px 0px 2px #c4c4c4;}
.nav li.active>a,.nav li.on>a,.tabBox .tabs li.on{text-shadow:0px 0px 2px #000; }
a,a:hover{-moz-transition:color .3s linear; -webkit-transition:color .3s linear; transition:color .3s linear; }
.nav li a,.nav li a:hover{-moz-transition:all .3s linear; -webkit-transition:all .3s linear; transition:all .3s linear; }




.nav li.on .m2 .m2body b{ font-weight:normal;}
